<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	failOnEmptyTestSuite="true"
	failOnWarning="true">
	<testsuites>
		<testsuite name="jev-connector">
			<directory suffix=".php">tests</directory>
			<exclude>tests/bootstrap.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
